* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: rgb(63, 63, 63);
}

body {
  height: 100%;
  background-color: antiquewhite;
}

div {
  width: 30%;
  height: 200px;
  margin: 1%;
  background-color: rgb(250, 239, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

input,
button {
  width: 100px;
  height: 40px;
  margin: 1%;
}
